@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer components {
    @keyframes marqueeScroll {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-50%);
        }
    }
}

@layer base {
    body {
        @apply bg-white text-slate-700 dark:bg-slate-950 dark:text-gray-300;
    }
    button {
        cursor: pointer;
    }
    .dark input::placeholder,
    .dark textarea::placeholder {
        color: rgb(148 163 184) !important;
    }
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
